html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #eaeafb!important;
  font-weight: 300;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

Link, a {
  color: #0070f3;
}

a:hover {
  text-decoration: none!important;
}

.w3-modal{
  z-index: 999;
}
.error{
  color: red;
}
.w3-card-2{
  background-color: white;
}

.label{
  font-size: 14px;
}

.features span{
  font-weight: lighter;
}
input:focus, select:focus, textarea:focus{
  outline-color: rgb(49, 159, 233);
}