html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f8fafc!important;

}

* {
  box-sizing: border-box;
}

 Link, a {
  color: #0070f3;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.w3-modal{
  z-index: 999;
}
.error{
  color: red;
}

