html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #eaeafb!important;
  color:  #212529;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}



Link, a {
  color: #0070f3;
}

a:hover {
  text-decoration: none!important;
}

.w3-modal{
  z-index: 999;
}
.error{
  color: red;
}
.w3-card-2{
  background-color: white;
}

.label{
  font-size: 14px;
}

.features span{
  font-weight: lighter;
}
input:focus, select:focus, textarea:focus{
  outline-color: rgb(49, 159, 233);
}

.image-gallery-slide img{
  max-height: 350px;
  } 
  


  .image-gallery-thumbnail-image{
    height: 60px;
  }
  .image-gallery-image{
    height: 380px;
  }

  .new{
    padding: 5px 10px;
    background-color: green;
    color: rgb(231, 227, 227)
  }

  .used{
    padding: 5px 10px;
    background-color:rgb(214, 214, 16);
  }

  @media(max-width: 768px){
    .image-gallery-thumbnail-image{
      height: 50px;
    }
    .image-gallery-slide img{
      max-height: 200px;
      } 

      .image-gallery-image{
        height: 280px;
      }
  }
  
  